<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>confirm email</title>
    <link rel="stylesheet" href="email.styles.css">
</head>

<body>
<div class="email-wrapper">

    <div class="email-letter">
        <p class="email-letter__title">Hello! You have successfully registered to Sports Hub
            March 21, 2019</p>


        <div class="email-letter-info">
            <img class="email-letter-info__image" src="assets\Vector.svg" alt="check mark">
            <h2 class="email-letter-info__title">Sports Hub</h2>
            <p class="email-letter-info__paragraph">Now you will receive the latest news in the world of sport
            </p>
            <div class="email-button">
                <button class="email-button__inside" type="button">GO TO WEBSITE</button>
            </div>
        </div>

    </div>

</div>
</body>

</html>