@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.email-wrapper {
    background-color: #F9F9FB;
    background-size: cover;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.email-letter {
    text-align: center;
    padding-top: 30px;
}

.email-letter__title {
    font-size: 24px;
    color: black;
    padding-bottom: 30px;
    line-height: 33px;
    white-space: pre-line;
}


.email-letter-info {
    background-color: white;
    position: relative;
    padding-top: 46px;
    max-width: 581px;
    height: 224px;
    margin: auto;

}

.email-letter-info__title {
    color: #D72130;
    font-size: 22px;
    line-height: 28px;
}

.email-letter-info__paragraph {
    color: #596377;
    font-size: 12px;
    line-height: 16px;
}

.email-button {
    padding-top: 24px;
}

.email-button__inside {
    background-color: #D72130;
    width: 394px;
    height: 42px;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    display: inline-block;
}

.email-button__inside:hover {
    background-color: #E02232;
}

.email-button__inside:active {
    background-color: #C80515;
}