<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>confirm email</title>

    <!-- Roboto 700 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    <!-- Open Sans 600 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">


</head>

<body style="margin: 0%;">

<div class="email-wrapper" style=" background-color: #F9F9FB;
    background-size: cover;
    width: 100vw;
    font-family: Open Sans, sans-serif;
    font-weight: 600;">

    <div class="email-letter" style="text-align: center;
        padding-top: 2%;
        height: 100vh;">
        <p class="email-letter__title" style=" font-size: 24px;
            color: black;
            padding-bottom: 2%;
            line-height: 33px;
            white-space: pre-line;">Hello! You have successfully registered to Sports Hub</p>
        <div class="email-letter-info" style=" background-color: white;
            position: relative;
            padding-top: 2.5%;
            max-width: 37%;
            height: 28%;
            margin: auto;">
            <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L8 14.5L20 1" stroke="#D72130" stroke-width="2" stroke-linejoin="round"/>
            </svg>
            <h2 class="email-letter-info__title" style=" color: #D72130;
                font-size: 22px;
                line-height: 28px;">Sports Hub</h2>
            <p class="email-letter-info__paragraph" style=" color: #596377;
                font-size: 12px;
                line-height: 16px;">Now you will receive the latest news in the world of sport
            </p>

            <a href="">
                <button class="email-letter-info__button" type="button"
                        onmouseover="this.style.backgroundColor='#E02232'"
                        onmouseout="this.style.backgroundColor='#D72130'"
                        onclick="this.style.backgroundColor='#C80515'"
                        style=" margin-top: 3%;
                background-color: #D72130;
                width: 80%;
                height: 19%;
                border: none;
                color: white;
                text-decoration: none;
                font-size: 12px;
                font-weight: 700;
                font-family: Roboto, sans-serif;
                letter-spacing: 0.8px;
                text-transform: uppercase;
                display: inline-block;">GO TO WEBSITE</button>
            </a>

        </div>
    </div>

</div>
</body>

</html>